@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.header {
  padding: 50px; }
  .header .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header__nav .nav__logo {
      height: 30px; }
    .header .header__nav .nav__menu {
      display: flex;
      gap: 20px; }
      .header .header__nav .nav__menu .menu__navegation {
        list-style: none; }
        .header .header__nav .nav__menu .menu__navegation .navegation__link {
          text-decoration: none;
          color: #070439;
          font-size: 0.9em; }
  .header .header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0; }
    .header .header__main .main__information {
      max-width: 475px; }
      .header .header__main .main__information .information__title {
        font-family: "Raleway", sans-serif; }
      .header .header__main .main__information .information__details {
        font-size: 0.9em;
        margin-block: 1em; }
      .header .header__main .main__information .information__form {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: flex-start; }
        .header .header__main .main__information .information__form .form__email {
          display: flex;
          flex-direction: column; }
          .header .header__main .main__information .information__form .form__email .email__input {
            width: 255px;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid; }
          .header .header__main .main__information .information__form .form__email .email__validation {
            color: red;
            font-size: 0.8em; }
        .header .header__main .main__information .information__form .form__submit {
          width: 160px;
          padding: 12px;
          background: #3065f8;
          color: #f6f6fe;
          border: none;
          border-radius: 5px;
          outline: none;
          cursor: pointer; }
    .header .header__main .main__illustration {
      width: 500px; }

.main .main__body {
  display: flex;
  background: #f6f6fe;
  justify-content: space-between;
  padding: 50px 50px 80px;
  position: relative; }
  .main .main__body .body__information {
    width: 550px; }
    .main .main__body .body__information .information__title {
      font-family: "Raleway", sans-serif;
      font-size: 2.1em;
      margin-block-end: 30px; }
    .main .main__body .body__information .information__details {
      width: 450px;
      font-size: 0.85em;
      margin-block-end: 20px; }
    .main .main__body .body__information .information__link {
      color: #3c9f8f;
      text-decoration: none;
      border-block-end: 2px solid #3c9f8f;
      display: inline-flex;
      align-items: center;
      margin-block-end: 50px; }
    .main .main__body .body__information .information__cardQuotes {
      background: white;
      padding: 20px;
      width: 300px;
      font-size: 0.8em;
      border-radius: 5px;
      box-shadow: 0px 0px 30px -25px black; }
      .main .main__body .body__information .information__cardQuotes .cardQuotes__icon {
        width: 20px; }
      .main .main__body .body__information .information__cardQuotes .cardQuotes__quotes {
        font-weight: 600;
        margin-block-end: 20px; }
      .main .main__body .body__information .information__cardQuotes .cardQuotes__user {
        display: grid;
        grid-template-rows: 25px;
        grid-template-columns: 40px auto;
        align-items: center;
        column-gap: 10px; }
        .main .main__body .body__information .information__cardQuotes .cardQuotes__user .user__photo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          grid-row: span 2; }
        .main .main__body .body__information .information__cardQuotes .cardQuotes__user .user__name {
          font-size: 1em; }
        .main .main__body .body__information .information__cardQuotes .cardQuotes__user .user__status {
          font-size: 0.9em; }
  .main .main__body .body__illustration {
    width: 500px; }
  .main .main__body::before {
    content: "";
    width: 100%;
    height: 80px;
    background-image: url("./../images/bg-curve-desktop.svg");
    position: absolute;
    top: -75px;
    left: 0px; }
.main .main__footer {
  background: #585989;
  color: white;
  padding: 70px 80px 70px 50px;
  display: flex;
  justify-content: space-between; }
  .main .main__footer .footer__information {
    width: 450px; }
    .main .main__footer .footer__information .information__title {
      font-family: "Raleway", sans-serif;
      margin-block-end: 1em;
      color: #070439; }
    .main .main__footer .footer__information .information__details {
      font-size: 0.9em; }
  .main .main__footer .footer__form {
    display: flex;
    flex-direction: column;
    gap: 5px; }
    .main .main__footer .footer__form .form__email {
      width: 300px;
      padding: 5px;
      border: none;
      outline: none;
      border-radius: 5px; }
    .main .main__footer .footer__form .form__emailValidation {
      font-size: 0.8em; }
    .main .main__footer .footer__form .form__submit {
      width: 180px;
      padding: 10px;
      background: #3065f8;
      border: none;
      outline: none;
      color: white;
      cursor: pointer; }

.footer {
  background: #070439;
  padding: 80px 50px;
  position: relative; }
  .footer .footer__logo {
    height: 35px;
    margin-block-end: 20px; }
  .footer .footer__about {
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px 10px;
    flex-wrap: wrap; }
    .footer .footer__about .about__address .address__contact {
      margin-block-end: 10px;
      display: flex;
      align-content: center;
      gap: 20px; }
    .footer .footer__about .about__about {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none; }
    .footer .footer__about .about__social {
      list-style: none;
      display: flex;
      gap: 20px; }
      .footer .footer__about .about__social .social__icon {
        width: 35px;
        height: 35px; }
  .footer .footer__attribution {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; }
    .footer .footer__attribution .attribution {
      font-size: 13px;
      text-align: center;
      color: white; }
      .footer .footer__attribution .attribution a {
        color: #3c9f8f;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
