@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap')

// ## Colors
// ### Primary
$VeryDarkBlue: hsl(243, 87%, 12%)
$DesaturatedBlue: hsl(238, 22%, 44%)

// ### Accent
$BrightBlue: hsl(224, 93%, 58%)
$ModerateCyan: hsl(170, 45%, 43%)

// ### Neutral
$LightGrayishBlue: hsl(240, 75%, 98%)
$LightGray: hsl(0, 0%, 75%)

// ## Typography
// ### Headings, Call-to-actions, Header Navigation
$fontFamilyRaleway: 'Raleway', sans-serif

// ### Body
$fontFamilyOpenSans: 'Open Sans', sans-serif

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $fontFamilyOpenSans

.header
  padding: 50px
  .header__nav
    display: flex
    justify-content: space-between
    align-items: center
    .nav__logo
      height: 30px
    .nav__menu
      display: flex
      gap: 20px
      .menu__navegation
        list-style: none
        .navegation__link
          text-decoration: none
          color: $VeryDarkBlue
          font-size: .9em
  .header__main
    display: flex
    justify-content: space-between
    align-items: center
    padding: 70px 0
    .main__information
      max-width: 475px
      .information__title
        font-family: $fontFamilyRaleway
      .information__details
        font-size: .9em
        margin-block: 1em
      .information__form
        width: 100%
        display: flex
        gap: 10px
        align-items: flex-start
        .form__email
          display: flex
          flex-direction: column
          .email__input
            width: 255px
            padding: 10px
            border-radius: 5px
            outline: none
            border: 1px solid
          .email__validation
            color: red
            font-size: .8em
        .form__submit
          width: 160px
          padding: 12px
          background: $BrightBlue
          color: $LightGrayishBlue
          border: none
          border-radius: 5px
          outline: none
          cursor: pointer
    .main__illustration
      width: 500px

.main
  .main__body
    display: flex
    background: $LightGrayishBlue
    justify-content: space-between
    padding: 50px 50px 80px
    position: relative
    .body__information
      width: 550px
      .information__title
        font-family: $fontFamilyRaleway
        font-size: 2.1em
        margin-block-end: 30px
      .information__details
        width: 450px
        font-size: .85em
        margin-block-end: 20px
      .information__link
        color: $ModerateCyan
        text-decoration: none
        border-block-end: 2px solid $ModerateCyan
        display: inline-flex
        align-items: center
        margin-block-end: 50px
      .information__cardQuotes
        background: white
        padding: 20px
        width: 300px
        font-size: .8em
        border-radius: 5px
        box-shadow: 0px 0px 30px -25px black
        .cardQuotes__icon
          width: 20px
        .cardQuotes__quotes
          font-weight: 600
          margin-block-end: 20px
        .cardQuotes__user
          display: grid
          grid-template-rows: 25px
          grid-template-columns: 40px auto
          align-items: center
          column-gap: 10px
          .user__photo
            width: 40px
            height: 40px
            border-radius: 50%
            grid-row: span 2
          .user__name
            font-size: 1em
          .user__status
            font-size: .9em
    .body__illustration
      width: 500px
    &::before
      content: ""
      width: 100%
      height: 80px
      background-image: url('./../images/bg-curve-desktop.svg')
      position: absolute
      top: -75px
      left: 0px

  .main__footer
    background: $DesaturatedBlue
    color: white
    padding: 70px 80px 70px 50px
    display: flex
    justify-content: space-between
    .footer__information
      width: 450px
      .information__title
        font-family: $fontFamilyRaleway
        margin-block-end: 1em
        color: $VeryDarkBlue
      .information__details
        font-size: .9em
    .footer__form
      display: flex
      flex-direction: column
      gap: 5px
      .form__email
        width: 300px
        padding: 5px
        border: none
        outline: none
        border-radius: 5px
      .form__emailValidation
        font-size: .8em

      .form__submit
        width: 180px
        padding: 10px
        background: $BrightBlue
        border: none
        outline: none
        color: white
        cursor: pointer

.footer
  background: $VeryDarkBlue
  padding: 80px 50px
  position: relative
  .footer__logo
    height: 35px
    margin-block-end: 20px
  .footer__about
    color: white
    display: flex
    justify-content: space-between
    gap: 30px 10px
    flex-wrap: wrap
    .about__address
      .address__contact
        margin-block-end: 10px
        display: flex
        align-content: center
        gap: 20px
    .about__about
      display: flex
      flex-direction: column
      gap: 20px
      list-style: none
    .about__social
      list-style: none
      display: flex
      gap: 20px
      .social__icon
        width: 35px
        height: 35px
  .footer__attribution
    position: absolute
    bottom: 20px
    left: 0
    right: 0
    .attribution
      font-size: 13px
      text-align: center
      color: white
      a
        color: $ModerateCyan
        font-family: $fontFamilyRaleway
        text-decoration: none
        font-weight: bold
